* {
    margin: 0;
    /* height: 0; */
    box-sizing: border-box;
    list-style: none;
}

.wra {
    margin: 0 auto;
    width: 900px;
}
.header {
    height: 20px;
    /* background-color: #e8e3e3; */
    /* display: flex; */
    font-size: 0;
}
.con {
    width: 1000px;
    height: 85px;
    background-color: #ffcfe9;
    background-image: url(./tupian/粉蓝格.webp);
    background-size: cover;
    margin: 0 auto;
     border-radius: 50px; 
    /* border-style: dashed; */
    /* border-color: #efd2da; */
    /* border-width: 5px; */ 
}
body {
    background-color: #f9ecec;
}
.con a {
    text-decoration: none;
    color: #134ea6;
}
.con a:hover {
    border-bottom:  3px solid #134ea6;
}
.con li {
    margin: 0 auto;
    line-height: 70px;
    /* margin-right: 50px; */
    font-size: 35px;
    
}
.con .wra ul {
    display: flex;
}
.banner {
    height: 350px;
    background-color: #b4caf0;
    border-radius: 80px;
    background-image: url(./tupian/粉蓝格.webp);
    background-size: cover;
    display: flex;
    align-items: center;
}
.banner .wraa {
    width: 300px;
    height: 300px;
    /* background-color: #f1a7ad; */
    /* background-image: url(./tupian/橘红格.jpg);
    background-position: 30px -20px; */
    margin-left: 10px;
   
    align-items: 20px;
    display: flex;
} 
.banner .wraa a {
    display: block;
    text-align: center;
    padding: 10px 0;
}
.banner .wraa li {
    /* margin-top: -15px; */
    width: 160px;
    height: 45px;
    background-color: #fddeeb;
    border-radius: 80px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #1c519f;
    font-size: 20px;
}
.banner .wraaa {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(./tupian/guang.png);
    /* justify-self: right; */
    margin-right: 40px;
}
.banner {
    display: flex;
    justify-content: space-between;
}

 .transition {
    width: 900px;
    height: 300px;
    text-align: center;
    background: linear-gradient(to left, rgb(201, 231, 249), rgb(238, 185, 217));
    opacity: 0.7;
    position: relative;
    size: 23px;
    color: #b04949;
    border-radius: 40px;
    margin: 0 auto;
    display: flex;
    
    justify-content: space-between; 
    padding: 0 30px; /* 添加内边距 */
}


.transition .left {
    width: 240px;
    height: 240px;
    background: linear-gradient(to bottom, rgb(243, 213, 218), pink); /* 修正拼写 */
    display: flex; /* 添加 */
    align-items: center; /* 文字垂直居中 */
    justify-content: center; /* 文字水平居中 */
    border-radius: 50%; /* 添加圆角 */
    font-size: 40px;
    align-self: center;
}

.card {
    /* background: linear-gradient(135deg, #a9e3f8 0%, #fed6e3 100%); */
    border-radius: 15px;
    padding: 30px;
    max-width: 600px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    flex-grow: 1; /* 让 card 占据剩余空间 */
    margin-left: 250px;
    width: 600px;
    height: 280px;
    align-self: center;
    /* padding: 50px; */
}

.transition.card.box {
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    flex: 1;
    
     min-width: 100px;
    max-width: 100px;

    transition: transform 0.3s, box-shadow 0.3s;
}

.content {
            padding: 20px;
        }
.box:hover .image-container img {
            transform: scale(1.05);
        }
.image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s;
        }
.image-container {
            height: 180px;
            overflow: hidden;
        }
.box:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }
/* 如果 card 中的 ul 也需要 flex 布局 */
.new {
    height: 500px;
    width: 1000px;
    background: linear-gradient(to bottom, rgb(250, 195, 212), rgb(214, 247, 255));
    display: flex;
    margin: 0 auto;
    border-radius: 40px;
}
.new .newleft {
    height: 500px;
    width: 300px;
    background: linear-gradient(to bottom, rgb(214, 233, 246), rgb(242, 200, 225));
    border-radius: 40px 0 0 40px;
    align-items: center; 
    justify-content: center; 
    line-height: 30px;
    padding: 40px;
}
.new .newleft div {
    font-size: 50px;
    color: #b04949;
    margin: 0;
}
.newleft p {
    color: #6a707b;
}
.new .newright {
    display: flex;
    flex-direction: column;
    height: 500px;
}
.new .newright div {
    height: 100px;
    width: 700px;
    background: linear-gradient(to right, rgb(247, 219, 243), rgb(234, 214, 245));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #f9ecec;
    transition: all 0.3s ease;
    box-shadow: 0 5px 0 rgba(0,0,0,0.1);
    transform-origin: center;
    
}

.new .newright div:hover {
    transform: scale(1.1);
    color: #f7eaff;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}
.new .newright div:nth-child(odd) {
    background: linear-gradient(to right, rgb(214, 233, 246), #fad0c4, #fad0c4, #f9889a);
}
.new .newright div:first-child {
    border-radius: 0 40px 0 0;
}
.new .newright div:last-child {
    border-radius: 0 0 40px 0;
}
.banner .mid {
    display: flex;
    flex: 1;
    background-image: url(./tupian/网站最新26.jpg);
    height: 350px;
    width: 300px;
    padding-right: 10px;
}
.banner .mid .left,
.banner .mid .right{
    width: 50%;
    height: 100%;
    
}
.banner .mid .left img,
.banner .mid .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.door-container:hover .door.left {
  transform: rotateY(-120deg);  
}
.door-container:hover .door.right {
  transform: rotateY(120deg);  
}
.mid { background: url('背景.jpg') center/cover; position: relative; overflow: hidden; }
.left, .right { position: absolute; width: 50%; height: 100%; transition: transform 0.5s; }
.mid.left { left: 0; background: #ccc; }
.right { right: 0; background: #999; }
.mid:hover .left { transform: translateX(-100%); }
.mid:hover .right { transform: translateX(100%); }
